@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i');

* {
	font-family: 'Roboto' !important;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	overflow: hidden;
	padding: 0;
	line-height: 1.5;
}

html, body, select, input {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
}

button {
	background-color: white;
	color: #737373;
	height: 30px;
	margin-right: 20px;
	line-height: 0;
	padding: 0;
}


div.weekdays, .weekdays select {
	display: inline;
}

select {
	color: #353535 !important;
}

select.day {
	letter-spacing: 2px;
	width: 150px;
}

.buildingMark {
	z-index: 2 !important;
	transition: all .3s ease;
}

.buildingMark:hover {
	stroke-opacity: .8;
	stroke-width: 10;
}

#currentTitle, #upcomingTitle {
	font-size: 20px;
	padding: 10px 0 5px;
	margin: 0;
}

.scheduledClass {
	font-size: 12px !important;
	line-height: 1.75 !important;
	margin: 0 !important;
}


#eventTitle {
	border-top: 1px solid #4d4d4d;
	border-bottom: 1px solid #4d4d4d;
	background-color: rgba(255,255,255,.95);
	font-size: 25px;
	padding: 15px;
	padding-top: 140px;
	margin-bottom: 0;
	width: 100%;
	text-align: center;	
}

#populationButton {
	border-radius: 5px;
	display: inline;
	margin-right: 0;
	width: 100%;
}

#populationButton:hover {
	background-color: #d1d1d1;
}

#map {
	height: calc(100% - 76px);
}

#search {
	border-radius: 5px;
	border: none;
	padding: 20px 16px;
	font-size: 16px;
	width: 400px;
	height: 30px;
	vertical-align: middle;
	color: #353535;
	transition: all .3s ease;
}

#search:hover {
	background: #eee;
}

#search:focus {
	outline: none;
}

#schedule {
	padding-top: 10px;
	padding-bottom: 27px;
}

#scheduleView {
	background-color: rgba(0,0,0,.2);
	opacity: 0.9;
	position: absolute;
	right: 0;
	height: 100%;
	width: 399px;
	z-index: 2;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}

#statsButton {
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
	border-radius: 5px;
	display: inline;
	margin-right: 0;
	width: 100%;
}

#statsButton:hover {
	background-color: #d1d1d1;
}

#time {
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	padding: 4px;
	padding-left: 20px;
	padding-right: 20px;
	display: inline;
	margin-right: 20px;
	margin-left: 20px;
	position: relative;
	top: -8px;
}

#title {
	background-color:  #4b2e83;
	color: white;
	font-size: 40px;
	letter-spacing: 3px;
	margin: 0;
	padding: 12px 15px 18px;
}


#UWsignature {
	height: 40px;
	margin-right: 20px;
	padding-bottom: 5px;
	vertical-align: middle;
}

.btn-group {
	width: 100%;
}

.btn.btn-primary {
	border-radius: 0;
	letter-spacing: 2px;
	width: 33.45%;
}

.btn--upload {
	border-radius: 0;
	letter-spacing: 2px;
	width: 100%;
	color: #ffffff;
}

label.btn-upload {
    text-align: middle;
    cursor: pointer;
}

.leaflet-bottom.leaflet-right {
	z-index: 1;
}

.leaflet-popup {
  display: none !important;
}

.leaflet-image-layer {
	z-index: 1 !important;
}

.ordered-population-chart-container {
	background-color: white;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.ordered-population-chart-container canvas {
	width: 70%;
}


.scheduledEvent {
	border-top: 1px solid #7e7e7e;
	border-bottom: 1px solid #7e7e7e;
	color: white;
	background-color: #337ab7;
	padding: 10px;
	margin: 0 !important;
}

@media only screen and (max-width: 500px) {
	#search {
		width: 100%
	}

	#schedule {
		margin-right: 200px;
	}

	#UWsignature {
		margin-top: 6px;
		position: absolute;
		clip: rect(0px, 50px, 50px, 0px);
	}
}

@media only screen and (max-width: 600px) {
	#scheduleView {
		width: 100%;
	}

	.leaflet-top, .leaflet-bottom {
		z-index: 1;
	}

	.weekdays select{
		margin-top: 20px;
	}
}


/* Population Controls */

.population-controls {
	background: rgba(255, 255, 255, .95);
	position: fixed;
	bottom: -100%;
	left: 0;
	right: 0;
	padding: 10px;
	text-align: center;
	z-index: 99;
}

.population-controls .box {
	width: 45%;
	display: inline-block;
}

.population-controls select {
	padding: 15px;
}

.modal {
	cursor: default;
}

.modal-title {
	font-size: 20px;
  padding: 10px 0 0;
}

.modal-dialog {
	width: 600px;
	margin: 5vh auto;
	height: 90vh;
	box-sizing: border-box;
}

.modal-content {
	max-height: 100%;
	overflow-y: scroll;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.file-handler {
	position: fixed;
	top: 76px;
	background: rgba(255, 255, 255, .8);
	padding: 10px;
	text-align: center;
	z-index: 1;
	right: 0;
	left: 0;
}

.file-handler input {
	margin: 0 auto;
}

#eventTitle {
	border: none !important;
	font-size: 20px;
}

#upcomingEvents {
	background: rgba(255,255,255,.95);
	padding-bottom: 10px;
}

#upcomingEvents .scheduledEvent {
	color: #666;
	background: none;
	padding: 10px 20px;
	border: none;
}